:root {
    --color-1: #7f6f80;
    --color-2: #9b8386;
    --color-3: #baafa9;
    --color-3v2: #baafa9c2;
    --color-4: #dbdbda;
    --color-5: #f4f1f4;
    --green: #07ca67;
    --yellow: #ffe84d;
    --red: #fd4d47;
}

body, html {
    background-color: var(--color-4);
    /* background-color: blue; */
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------- HOME PAGE */

#homePage {
    /* background-color: red; */
    text-align: center;
}

.header {
    background-color: var(--color-4);
    border-radius: 10px;
    color: black;
    padding: 20px;
    text-align: center;
    /* margin: 20 px; */
}

section {
    padding: 20px;
    background-color: var(--color-5);
    border-radius: 10px;
    box-shadow: var(--color-1);
}

h1, h2, h3, h4 {
    margin: 10px 0;
    position: relative;
}

input[type="range"] {
    width: 80%;
    margin: 10px auto;

    cursor: pointer;
    background-color: black;
}

p, span {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: var(--color-3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: border-radius 0.4s ease;
}

button:hover {
    border-radius: 15px;
}

/* ------------------------------------ INFOS BOX */

#infosBox {
    display: flex;
    flex-direction: column;
}

#infosBox h1, h2, h3, h4 {
    margin: 0;
}

#infos {
    margin: 10px 0;
}

#gameLevel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.level-box {
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px, rgba(0, 0, 0, 0.6) 0px 0px 1px 0px;
    width: 10vh;
    height: 5vh;
    margin: 0 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
    background-color: var(--color-5);
}

.level-box:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* ------------------------------------ GAME PAGE  */
#gamePage {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#gamePage > div{
    margin: 20px 0;
}

#gamePage > footer {
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#gamePage > footer > div {
    margin: 20px 0;
}

#answersBox {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    overflow-y: auto;
}

.answer-box {
    width: fit-content;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    padding: 40px;
    border-radius: 10px;
}

.each-answer-box {
    display: flex;
    background-color: rgb(158, 132, 132)rgb(158, 132, 132)rgb(158, 152, 152);
    justify-content: center;
    align-items: center;


    border: 2px solid black;
    margin: 2px; 
    width: fit-content;
    height: fit-content;
}

.each-box {
    background-color: var(--color-3);
    width: 50px;
    height: 50px;
}

.selectedBox {
    /* background-color: var(--color-3v2); */
    transform: scale(0.96);
    border: 2px solid black;
}

/* ---------------------------------- POSSIBLE LETTERS */

#keyboard {
    display: flex;
    align-items: end;
}

#keyboard img {
    width: 4vh;
}

.keyboard-btns {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letters-line {
    display: flex;
    justify-content: center;
}

.each-letter {
    z-index: 1;
}

.each-letter-box {
    width: 10vh;
    margin: 2px;
    background-color: var(--color-3);
    transition: 0.1s ease-in-out;
    position: relative;
}

.each-letter-box:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: 0.1s ease-in-out;
}

.each-box:hover {
    cursor: pointer;
    transform: scale(0.96);
    border: 2px solid black;
    border-bottom: 1px solid black;
}

.each-color {
    margin: 0;
    position: absolute;
    top: 0;
    height: 100%;
}

.green-letter-box {
    background-color: var(--green);
}

.yellow-letter-box {
    background-color: var(--yellow);
}

.red-letter-box {
    background-color: var(--red)
}

/* ------------------------------------------- BUTTONS */

#buttons {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

button {
    margin: 0 10px;
    font-size: 1em;    
}

/* ------------------------------------- POP UP */ 



.popup {
    display: none;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

#popupSurrender {
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

#popupMessage {
    position: fixed;
    top: -100px;
    z-index: 1; 
    transition: top 0.3s ease;

    background-color: var(--color-1);
    color: var(--color-5);
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
  
.popup-surrender-content {
    background-color: white; 
    width: 300px; 
    padding: 20px;
    border-radius: 10px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    display: flex;
    flex-direction: column;
    text-align: center;
}

#popupBtns {
    display: flex;
    justify-content: space-around;
}

.close {
    float: right; 
    cursor: pointer; 
}
  
/* ---------------------- MOBILE --------------------------------*/

@media only screen and (max-width: 600px) {
    #infosBox {
        width: 350px;
    }

    #infosBox > h1 {
        font-size: 1.2rem;
    }

    #infosBox > h3 , .level-box > h3{
        font-size: 0.8rem;
    }

    #infos > h4 {
        font-size: 0.6rem;
    }

    .level-box {
        width: 8vh;
        height: 4vh;
        margin: 0 10px;
    }

    #gamePage {
        width: 450px;
    }

    #answersBox {
        max-height: 30vh;
        overflow-y: auto;
    }
    
    .answer-box {
        padding: 2px;
        border-radius: 10px;
    }

    .each-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .each-answer-box {
        border: 0.5px solid black;
        margin: 1px;
    }

    .selectedBox {
        border: 0.5px solid black;
    }

    .mobile-level-4 {
        width: 15px;
        height: 15px;
    }

    .mobile-level-4 > h1 {
        font-size: 0.7rem;
    }

    .mobile-level-3 {
        width: 20px;
        height: 20px;
    }

    .mobile-level-2 {
        width: 30px;
        height: 30px;
    }

    .mobile-level-1 {
        width: 50px;
        height: 50px;
    
    }

    #keyboard {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
    }

    #keyboard img {
        width: 4.5vh;
    }

    .keyboard-btns {
        height: 4.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .letters-line {
        display: flex;
        justify-content: center;
    }

    .each-letter {
        z-index: 1;
        font-size: 1rem;
    }

    .each-letter-box {
        width: 4.5vh;
        height: 4.5vh;
        margin: 1px;
        background-color: var(--color-3);
        transition: 0.1s ease-in-out;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #buttons > button {
        /* background-color: red; */
        /* width: 2vh; */
        font-size: 0.5rem;
        font-weight: bold;
    }

    #popupMessage {
        font-size: 15px;
        padding: 10px;
    }

    /* #popupSurrender {
        width: 2vh; 
        height: 2vh;
    } */
}